@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background-color-primary: var(--color-1);
  --background-color-secondary: var(--color-2);
  --text-color-primary: var(--color-4);
  --text-color-secondary: var(--color-1);
  --interactive-elements-color: var(--color-3);
  --interactive-elements-hover-color: var(--color-4);
}

/* Wallet styles */

.wallet-adapter-button {
  height: 40px !important;
  line-height: 40px !important;
}

.wallet-adapter-dropdown-list,
.wallet-adapter-button {
  background-color: var(--interactive-elements-color) !important;
  color: var(--text-color-primary) !important;
}

.wallet-adapter-dropdown-list-item:hover,
.wallet-adapter-button:hover {
  background-color: var(--interactive-elements-hover-color) !important;
  color: var(--text-color-secondary) !important;
}

.wallet-adapter-modal-title {
  background-color: var(--background-color-primary) !important;
  color: var(--text-color-primary) !important;
}

.wallet-adapter-modal-button-close svg {
  fill: var(--text-color-primary) !important;
}

.wallet-adapter-modal-button-close {
  background-color: var(--interactive-elements-color) !important;
  transition: all 200ms ease;
}

.wallet-adapter-modal-button-close:hover {
  background-color: var(--interactive-elements-hover-color) !important;
}

.wallet-adapter-modal-button-close:hover svg {
  fill: var(--text-color-secondary) !important;
}

/* Switch styles */

.MuiSwitch-thumb {
  background-color: currentColor !important;
}

/* Theme styles allegedly */

@media (prefers-color-scheme: dark) {
}

body {
  color: var(--text-color-primary);
  background-color: var(--background-color-primary);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@import "themes/theme1.css";
